*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;;
}

.app,
.todo-cnt,
.todo-add,
.todo-list,
.todo-add-btn-cnt,
.app-image-background,
.todo-list-footer,
.todo-list-footer button,
.todo-add input[type="text"],
.todo-add-btn-cnt input[type="button"]
{
  transition: .3s;
}

.app{ 
  width:100%;
  min-height: 100vh;
  background-color: hsl(236, 33%, 92%);
  position: relative;
  display: flex;
}

.app-image-background{
  background-image: url('./images/bg-desktop-light.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  width:100%;
  height: 250px;
}

.todo-cnt{
  width:60%;
  height: 80%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color:white
}

.header{
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.header h1{
  font-size: 36px;
  letter-spacing: 9px;
  text-shadow: 0 2px 8px rgba(0,0,0,0.7);
  flex-grow: 1;
}

.darkmode-switcher{
  transition: .3s;
  cursor: pointer;
}

.darkmode-switcher:hover{
  transition: .3s;
  opacity: 0.7;
}

.todo-add{
  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
}

.todo-add-btn-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
}

.todo-add-btn-cnt input[type="button"]{
  padding:.2em .7em;
  border:1px solid darkgray;
  border-radius: 50em;
}

.todo-add-btn-cnt input[type="button"]:focus{
  outline: none;
}

.todo-add-btn-cnt input[type="button"]:hover{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  transition: .3s;
  cursor: pointer;
}

.todo-add input[type="text"]{
  font-size: 18px;
  height: 100%;
  width: 90%;
  padding:0em .5em;
  background-color: white;
  border:none;
  color:#9495A5;
  border-radius: 8px;
}

.todo-list{
  width:100%;
  overflow: hidden;
  margin-top:2em;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.4);
}

.list-cnt{
  padding-top:.4em;
}

.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  list-style: none;
  color:#494C6B;
  padding-right: 1.5em;
  padding-left: .7em;
}

.list-item:first-child, .list-item + .list-item{
  border-bottom: 1px solid #979797;
}

.list-item input{
  width:10%;
  padding:.5em;
}

.list-item input[type="checkbox"]{
    height:1.4em;
}

.list-item:hover .delete-item-icon{
  opacity:1;
  transition: .5s;
}

.list-item input[type="checkbox"]{
  padding:.5em;
}

.list-item p{
  flex-grow: 1;
}

.list-item img{
 cursor: pointer;
}

.todo-list-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0em 2em;
  color:#494C6B;
  font-size: 14px;
  width:100%;
  height: 80px;
  background-color: white;
  display: flex;
}

.todo-list-footer button{
  background-color: white;
  color:hsl(236, 9%, 61%);
  border: none;
  cursor: pointer;
}

.todo-list-footer button:hover{
  color:hsl(235, 19%, 35%);
}

.todo-list-footer button:focus{
  color:hsl(220, 97%, 53%);
}

.items-left{
  flex:0.8;
}

.items-filter-btns{
  flex:1;
}

.fltr-btn:first-child, .fltr-btn + .fltr-btn{
  margin-right:1.5em;
}

.delete-item-icon{
  opacity: 0;
}